$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

html {
  height: 100%;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  height: 100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.page-wrapper {
  min-height: 100%;
  position: relative;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  position: absolute;
  background-color: rgb(243, 243, 243);
  border-top: 1px solid #e4e4e4;
  height: 30px;
  bottom: 1px;
  left: 0;
  right: 0;

  p {
    margin: 0;
    padding: 5px;
  }
}

form.form-page {
  input.ng-dirty.ng-invalid {
    background-color: rgb(255, 195, 195);
  }
  .error {
    padding-left: 2px;
    color: red;
    padding-top: 2px;
  }

  .left-sign-in {
    float: left;
    margin-right: 25px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.main-title {
  .logo {
    float: right;
    height: 80px;
  }
}

.drop-box {
  width: 100%;
  border: 2px dashed #969696;
  background-color: #ECECEC;
  border-radius: 5px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  color: #969696;
  font-size: 1.3em;
}