<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h2>Admin accounts</h2>
		</div>
		<div class="panel panel-default">
			<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Email</th>
					</tr>
				</thead>
				<tr ng-repeat="user in users">
					<td>{{ user.id }}</td>
					<td>{{ user.email }}</td>
				</tr>
			</table>
			<div class="panel-footer">
				<a href="/#/admin/create" class="btn btn-default btn-sm pull-right">
					<span class="glyphicon glyphicon-plus"></span> 
				</a>
				<div class="clearfix"></div>
			</div>	
			
		</div>
	</div>
</div>
